<%= form_with(model: app_add, local: true) do |form| %>
  <% if app_add.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_add.errors.count, "error") %> prohibited this app_add from being saved:</h2>

      <ul>
      <% app_add.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :app_id %>
    <%= form.select :app_id, App.all.collect {|a| [ a.name, a.id ] } %>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Ad Name</th>
        <th>Ad Mob Id</th>
        <th>Fb Id</th>
        <th>Is Shown</th>
        <th>Is Ad Mob</th>
        <th>Is Fb</th>
      </tr>
    </thead>
    <tbody>
      <% AdType.all.each do |ad_type| %>
        <tr>
          <td><%= ad_type.name %><input id="app_add_ad_mob_id" value="<%= ad_type.id %>" type="hidden" name="app_adds[][ad_type_id]"></td>
          <td><input id="app_add_ad_mob_id" type="text" name="app_adds[][ad_mob_id]"></td>
          <td><input id="app_add_fb_id" type="text" name="app_adds[][fb_id]"></td>
          <td><input id="app_add_is_shown" type="checkbox" value="1" checked="checked" name="app_adds[][is_shown]"></td>
          <td><input id="app_add_is_ad_mob" type="checkbox" value="1" name="app_adds[][is_ad_mob]"></td>
          <td><input id="app_add_is_fb" type="checkbox" value="1" name="app_adds[][is_fb]"></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
